* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0 auto;
}

/* Header */

.header {
  background-color: #f2a71b;
  width: 100%;
  height: 69px;
  border-bottom: solid 1px red;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header .logo {
  padding-left: 1%;
  display: flex;
  justify-content: center;
}

.header .logo .title {
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
  color: white;
}

.header .logo .title:hover {
  color: #025E73;
  transition-property: color;
  transition: 750ms;
  cursor: pointer;
  transition-duration: 1s;
}

i {
  padding-left: 10px;
}


.header .menu {
  padding-right: 1%;
}

.header .menu nav ul {
  display: flex;
  list-style: none;
}

.header .menu nav ul li a {
  font-weight: 700;
  font-style: italic;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.header .menu nav ul li a:hover {
  text-decoration: underline;
  color: #025E73;
  transition-property: color;
  transition: 750ms;
  transition-duration: 1s;
}

/* Main */

.main {
  padding-top: 70px;
}

/* Section Banner */

.banner {
  background-image: url(./img/img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 500px;
}

.banner p {
  padding-top: 15%;
  padding-left: 5%;
  color: white;
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
}

/* Section Cars */

.section-cars {
  background-color: #025E73;
  padding-top: 500px;
  width: 100%;
}

.section-cars h2 {
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: #f2a71b;
  font-size: 2.5rem;
  padding-top: 70px;
}

.section-cars .cars {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-cars .cars .card-auto {
  background-color: rgb(24, 21, 21);
  border-radius: 5px;
  width: 20%;
  flex-basis: 420px;
  margin: 0.5%;
  padding: 5px;
  border: 1px solid #f2a71b;
}

.cars .mercedes {
  background-image: url(./img/mercedes.jpg);
}

.cars .ford {
  background-image: url(./img/ford.jpg);
}

.cars .bmw {
  background-image: url(./img/bmw.jpg);
}

.cars .nissan {
  background-image: url(./img/nissan.jpg);
}

.cars .chevrolet {
  background-image: url(./img/chevrolet.jpg);
}

.cars .audi {
  background-image: url(./img/audi.jpg);
}

.section-cars .cars .card-auto .mercedes,
.ford,
.bmw,
.nissan,
.chevrolet,
.audi {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  opacity: 0.5;
  height: 400px;
}

.cars .card-auto .autos:hover {
  opacity: 1;
  transition: 500ms;
}

.card-auto h3 {
  color: #f2a71b;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 30px;
  font-weight: 700;
  font-style: italic;
}

@media only screen and (max-width: 900px) {
  .header .logo .title, .banner p {
    font-size: 1.5rem;
  }

  .header .menu nav ul li a {
    font-size: 1rem;
  }

  .section-cars .cars .card-auto .mercedes,
  .ford,
  .bmw,
  .nissan,
  .chevrolet,
  .audi {
    opacity: 1;
    height: 200px;
  }
  .section-cars .cars .card-auto {
    flex-basis: 250px;
  }
}

/* Section Contact */

.contact {
  background-color: #025E73;
  /* margin-bottom: 50px; */
}

.contact h2 {
  text-align: center;
  padding-top: 70px;
  font-size: 2.5rem;
  color: #f2a71b;
  font-weight: 700;
  font-style: italic;
}

.contact .info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  flex-wrap: wrap;
  height: auto;
}

.contact .info .email-phone {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  flex-basis: 500px;
}

.contact .info .email-phone p {
  color: #f2a71b;
  padding-bottom: 20px;
}

.contact .info .location {
  width: 50%;
  border-radius: 5px;
  flex-basis: 600px;
  padding-bottom: 20px;
}

.contact .info .location .mapa {
  background-image: url(./img/mapa.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border: 2px solid #f2a71b;
  border-radius: 5px;
}

.contact .info .location h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  padding-bottom: 20px;
  color: #f2a71b;
}

/* Section About */

.section-about {
  background-color: #025E73;
}

.section-about h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color:#f2a71b;
  font-weight: 700;
  font-style: italic;
}

.about {
  background-image: url(./img/img-about.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  opacity: 0.9;
  border: 1px solid #f2a71b;
}

.about .div-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.about .div-about .text {
  width: 50%;
}

.about .div-about .text p {
  font-size: 1.3rem;
  font-weight: 400;
  font-style: italic;
  padding: 2.5%;
  color:#f2a71b;
}

.about .div-about .staff {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.about .div-about .staff .img {
  /* width: 30%; */
  height: 200px;
  background-color: black;
  margin: 2%;
  flex-basis: 250px;
  border-radius: 5px;
}

.staff .img {
  background-image: url(./img/person1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid #025E73;
}

.staff .img p {
  color: #f2a71b;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: italic;
}

/* Section footer */

footer {
  background-color: #f2a71b;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes ul li {
  display: inline;
  margin: 30px;
}

.redes ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

.redes ul li a:hover {
  color: #025E73;
  transition-property: color;
  transition: 750ms;
  transition-duration: 750ms;
}